<section class="profile row">
  <div class="col-xs-12">
    <h1>Hello <%= user.username %></h1>
  </div>

  <div class="profileHeading">
    <div class="col-md-3">
      <a href="/days/new">
        <div class="profileButton profileHeadingSquare">
          Tell us about today.
        </div>
      </a>
    </div>

    <div class="col-md-3 suggestedActivity profileHeadingSquare">
      <h3> Today, why don't you...</h3>
      <p><span class="betterness"></span>
      </p>
    </div>

    <div class="col-md-3 headingheartRate profileHeadingSquare">
      <img src="/assets/heartRate.png" alt="heartRate">
      <h3>Your resting Heart Rate is..<span class="heartRate"</span></h3>
    </div>

    <div class="col-md-3 headingStepsTaken profileHeadingSquare">
        <img src="/assets/stepsTaken.png" alt="">
      <h3>You have taken..
      <span class="steps"</span>steps</h3>
    </div>
  </div>



  <div class="col-xs-12">
    <% for (let i = 0; i < days.length; i++) { %>
      <div class="indexDay">
        <a href="/days/<%= days[i].id %>">
          <div class="indexDayImg" style="background-image:url(<%= days[i].imageSRC %>);border-color:<%= days[i].favColor %>">
            <span><%= moment(days[i].createdAt).format('dddd Do MMM') %></span>
          </div>
        </a>
      </div>
    <% } %>
  </div>

</section>
