<body class="profile">
  <h1>Hello <%= user.username %></h1>
  <h1 class="title"></h1>
<div class ="row">
  <div class ="col-md-4"
  <h3> Today, why don't you...</h3>
  <p><span class="betterness"></span>
  </p>
</div>
</div>

  <div class="button">
    <a href="/days/new">Tell us about today.</a>
  </div>

  <div class="columns">
    <div class="column">
      <% for (let i = 0; i < days.length; i++) { %>
        <% if (i === 0 || days[i].createdBy !== days[i-1].createdBy) { %>
          <h1><%= days[i].createdBy.username %></h1>
          <% } %>
          <div class="columns">
          <div class="column">
          <a href="/days/<%= days[i].id %>">
          </a>
          </div>
          <div class="column">
          <a href="/days/<%= days[i].id %>">
          <img src="<%= days[i].imageSRC %>">
          </a>
          </div>
          <h2 class="subtitle"><a href="/users/<%= days[i].createdBy.id %>"><%= days[i].createdBy.username %></a></h2>
          <p><%= days[i].summary %></p>
          <p><%= days[i].stepsTaken %></p>
          <p><%= days[i].hoursSlept %></p>
          <hr/>
          <a href="/days/<%= days[i].id %>" class="button">View Day</a>
          </div>
          </div>
          <% } %>
        </div>

    </body>
